<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'contact', media: 'all' %>
  <title>お問い合わせ</title>
</head>
<body>

<div class="main-container">
    <div class="page-title">
        <h2><strong>お問い合わせ</strong></h2>
    </div>
    <div class="text">
        <br>
        <h3 class="h3">質問・お問い合わせフォーム</h3>
        <p>
            当サークルへのお問い合わせは、他大学様なども含め、以下の方法でお願い致します。<br>
        </p>
    </div>

    <div class="contact-box">
        <h4>◾️メールアドレス</h4>
    </div>
    <div class="text">
        <p>
            toka.pokemon.fukuoka*gmail.com <br>
            ※メールを送る際は、*を@に変えてください。
        </p>
    </div>

    <div class="contact-box">
        <h4>◾️Xアカウント</h4>
    </div>
    <div class="text">
        <p>
            <a href="https://twitter.com/fukudai_pokemon" target='_blank' rel='noreferrer noopener' class="new-event">こちら</a>
            のアカウントのDMよりご連絡ください。
        </p>
    </div>

    <div class="contact-box">
        <h4>◾️質問箱</h4>
    </div>
    <div class="text">
        <p>
            <a href="https://marshmallow-qa.com/2vw324j62ti51he?t=nQwmHX" target='_blank' rel='noreferrer noopener' class="new-event">こちら</a>
            より、ご気軽に質問してください！
        </p>
    </div>

    <div class="text">
        <p>
            ※出来る限り早めに対処しますが、こちらの事情によりすぐに返事が出来ない場合があります。あらかじめご了承下さい。また、お問い合わせ内容によっては、返信を差し上げられない場合もございます。ご了承ください。
        </p>
    </div>
</div>
</body>
</html>