<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'kyushu_union', media: 'all' %>
    <title>九州ポケサー連盟</title>
</head>
<body>
    
</body>